<%= form_for [@artist, @artist.songs.new] do |f| %>
  <div class="form-group <%= @song.errors.any? ? 'has-error' : '' %>" id="songinput">
    <%= f.text_field :name, placeholder: "Song name", class: "form-control" %>
    <% if @song.errors.any? %>
      <% song.errors.full_messages.each do |message| %>
        <span class="help-block"><%= message %></span>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary", id: 'song-submit-button', data: { disable_with: false } %>
  </div>
<% end %>
